<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" [routerLink]="['/books']">Go Back</button>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <form [formGroup]="formBook">
            <!-- <form> -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="email" class="form-control" id="title" formControlName="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" formControlName="description"></textarea>
            </div>
            <div class="mb-3">
                <label for="pageCount" class="form-label">Page Count</label>
                <input type="number" class="form-control" id="pageCount" formControlName="pageCount">
            </div>
            <div class="mb-3">
                <label for="excerpt" class="form-label">Excerpt</label>
                <textarea class="form-control" id="description" formControlName="excerpt"></textarea>
            </div>
            <div class="mb-3">
                <label for="publishDate" class="form-label">Publish Date</label>
                <input type="date" class="form-control" id="publishDate" formControlName="publishDate">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formBook.invalid"
                (click)="addBook()">Save</button>
        </form>
    </div>
</div>