<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" [routerLink]="['/authors']">Go Back</button>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <form [formGroup]="formAuthor">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formAuthor.invalid"
                (click)="addAuthor()">Save</button>
        </form>
    </div>
</div>