<div class="row">
    <div class="col">
        <h1>List of Authors</h1>
    </div>
</div>
<div class="row pt-3">
    <div class="col">
        <button type="button" class="btn btn-primary" [routerLink]="['/authors/add']">Add Author</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" [(ngModel)]="authorFilter.id" placeholder="Search by ID"
                aria-label="Search by ID" aria-describedby="basic-addon2">
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<table class="table table-striped p-5" *ngIf="!loading">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let author of authorList | filterBy: authorFilter | paginate: { itemsPerPage: 10, currentPage: actualPage }">
            <th scope="row">{{author.id}}</th>
            <td>{{author.firstName}}</td>
            <td>{{author.lastName}}</td>
            <td>
                <div class="d-flex justify-content-lg-around justify-content-sm-around">
                    <button type="button" class="btn btn-sm btn-info"
                        [routerLink]="['/authors', author.id, 'edit']">Edit</button>
                    <button type="button" class="btn btn-sm btn-danger"
                        (click)="deleteAuthor(author.id)">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-md-12 text-center">
        <pagination-controls *ngIf="!loading" (pageChange)="actualPage = $event"></pagination-controls>
    </div>
</div>